* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
}


/* Navigationsleiste */ 

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
    background-color: #2A4D5C;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 3.0rem;
    z-index: 1;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 2.3rem;
    height: 0.18rem;
    margin: 0.31rem auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ffffff;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 2.5rem;
    font-weight: 400;
}
.nav-item img {
    width: 3.1rem;
    border-radius: 50%;
    border: solid 2px #fff;
    object-fit: cover;
    margin-left: 1.5rem;
    vertical-align: middle;
}

.nav-link {
    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover{
  color: #3b7086;
}

.nav-logo {
    font-size: 2.3rem;
    font-weight: 700;
    color: #fff;
}


@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #3b7086;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 3;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-link:hover {
        color: #fff;
    }

    .nav-item {
        margin: 2.2rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }


}

/* Content */

body {
    background-color: #3b7086;
    font-family: 'Noto Sans', Helvetica, Arial, sans-serif;
    font-size: 1.2rem;
    position: relative;
    color: #fff;
}

.contend-centered {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contend-centered h1 {
    margin-top: 2rem;
}

.contend-centered p {
    margin-bottom: 2rem;
}

.contend-centered img {
    width: 60%;
    height: 65vh;
    object-fit: cover;
    border: 2px solid #fff;
    border-radius: 2rem;
}
.inline-block {
    display: inline-block;
}
#profile {
    vertical-align: middle;
    width: 3rem;
    height: auto;
}

.join-btn {
    left: 8rem;
    background-color: #A1AA3D;
    border: none;
    border-radius: 10rem;
    color: #fff;
    padding: 2.0rem 5rem;
    margin-top: 3rem;
    font-size: 1.3rem;
    box-shadow: 0.3rem 0.5rem 1.2rem #2A4D5C ;
}

.join-btn:hover {
    cursor: pointer;
    background-color: #a3b31c;
  }

.join-btn:active {
    cursor: pointer;
    background-color: #a3b31c;
  }

